
header{
    /* margin: -5px -5px; */
    background-color: rgb(250, 233, 220);
    padding-top: 20px;
    border-radius: 10px;
}
div.intro{
    text-align: center;
    margin: 20px;
    padding: 40px;

    box-sizing: border-box;
}
div.intro #profilePic{
    display: inline-block;
    /* border: 2px solid red; */
    border-radius: 20px;
    width:15%;
    min-width: 125px;
    
}
div.intro #profilePic img{
   
    border: 1px solid rgb(110, 34, 34);
    border-radius: 20px;
    width:100%;
    height: auto;
}
div.intro div#abtme{
    display: inline-block;
    /* border: 2px solid rgb(106, 107, 109); */
    box-shadow: 2px 2px 5px gray;
    width: 60%;
    text-align: justify;
    margin-left: 3px;
    padding: 0px 3px ;
    font-family: monospace;
}

 header nav ul{
    
    text-align: end;
    color: beige;
    background-color:antiquewhite;
    box-shadow: 0px 0px 3px black;
    /* margin: 30px; */
    padding: 10px;
    box-sizing: border-box;
}
nav ul li{
    display: inline-block;
    color: beige;
}
 div#nav{
	 position: sticky;
	top:0;
 }
 div#nav ul{
    color: rgb(252, 252, 252);
    border: 2px solid rgb(3, 180, 171);
    text-align: center;
    margin-top: -10px;
	
    background-color: rgb(14, 67, 224);
}
 div#nav ul li{
    display: inline-block;
    width:15%;
    height: 7vh;

    line-height: 3;
}
div#nav ul li a{
color: beige;
font-family: cursive;
}
section#skills div#skillLogo ul{
    text-align: center;
    padding: 0%;
}
section#skills div#skillLogo li{
    display: inline-block;
    margin: 20px; 
    border: 2px solid palegoldenrod;
}
section#aboutme{
    background-color: rgba(176, 225, 226, 0.76);
    border-radius: 10px;
}
section#aboutme p{
    /* border: 1px solid rgb(48, 33, 2); */
    padding: 10px;
    margin: 0;
    
    height: 50vh;
}
    section#contactme{
        position: relative;
        margin-top: 10px;
        padding: 50px 16px;
        background-color: rgb(208, 221, 172);
        border-radius: 10px;
    }
    section#contactme  #contactform{
        display: inline-block;
        padding: 10px;
        background-color: rgb(111, 160, 157);
        width: 87vh;
        border-radius: 10px;
    }
    section#contactme div#mycont{
        position: absolute;
        top: 30px;
        right: 50px;
        margin: 20px;
        display: inline-block;
        /* border: 1px solid black; */

    }
    section#contactme div#mycont div{
    border-bottom: 1px solid black;
    }
    @media screen and (max-width:768px){
        section#contactme  #contactform{
            display: block;
            padding: 10px;
            background-color: rgb(111, 160, 157);
            width: 70vw;
            height: 80vh;
            border-radius: 10px;
        }
        section#contactme div#mycont{
           margin-left: 50px;
           position: relative; 
           display: block;
          width: 100%;
                /* border: 1px solid black; */
    
        }
        section#contactme div#mycont>div{
            display: inline-block;
          width: 30%
                /* border: 1px solid black; */
    
        }
        div.intro #profilePic{
            display: block;
            /* border: 2px solid red; */
            border-radius: 20px;
            width:30%;
            margin: auto;
            
        }
        div.intro #profilePic img{
           
            border: 1px solid rgb(110, 34, 34);
            border-radius: 20px;
            width:100%;
            height: auto;
        }
        div.intro div#abtme{
            display: block;
            border: 2px solid royalblue;
            width: 100%;
            text-align: center;
        }
        header nav ul{
            
            text-align:center;
            background-color: darkslategrey;
            box-shadow: 0px 0px 5px rgb(179, 0, 0);
            /* margin: 30px; */
            padding: 10px;
            box-sizing: border-box;
        }
        header nav ul li{
            margin: auto;
            width: 18%;
        }
        

    
    }